.container {
  height: 60vh;
  background-color: #e7e3e2;
  padding-top: 3em;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 1em;
    margin: 0 0.5em;
    height: auto;
  }

}

.storyEvent {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  .image {
    width: 10em;
  }

  .title {
    font-weight: bold;
  }
}

.content {
  display: flex;
  position: absolute;
  z-index: 1;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition:all .4s;
  -o-transition: all .4s;
}

.gradient {
  height: 40px;
  left: 4em;
  right: 5em;
  z-index: 1;
  position: absolute;
  background: linear-gradient(180deg, rgba(231,227,226,1) 46%, rgba(177,162,159,0) 100%);
}

.stripe {
  display: flex;
  position: relative;
  height: 230px;
  overflow: hidden;
  margin: 0 1.3em;

  @media (max-width: 768px) {
    margin: 0;
  }

  .leftButton, .rightButton {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    z-index: 2;
    background-color: #e7e3e2;
    border: none;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    .icon {
      color: #6a615f;
    }

  }

  .leftButton {
    left: 0;
  }

  .rightButton {
    right: 0;
  }
}

.text {
  margin-top: 20px;
  max-width: 600px;
  padding: 0 4em;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.mobileCard {
  padding-bottom: 2em;
}