.container {
  position: absolute;
  left: 0;
  top: 0;
  height: 4em;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(177,162,159,1) 0%, rgba(177,162,159,0) 100%);

  .header {
    width: 80vw;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navigation {
      display: flex;

      .link {
        color: #e7e3e2;
        font-size: 1.4em;
        padding: 1em;
        cursor: pointer;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid #e7e3e2;
        }
      }
    }
  }
}