.container {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(4em + 2px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(177,162,159,1) 0%, rgba(177,162,159,0) 100%);
  @media (max-width: 768px) {
    justify-content: left;
    padding: 10px 20px;
    background: #8d817f;
    border-bottom: #6a615f 3px solid;
    z-index: 2;
    box-shadow: 6px 9px 15px -11px #000000;
  }


  .header {
    width: 80vw;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navigation {
      display: flex;
    }

    .buttons {
      display: flex;
      .language {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;

        .icon {
          fill: #c8bdbb;
          height: 1em;
          margin: 0 5px;
        }
      }
    }

  }

  .hamburgerMenu {
    position: absolute;
    flex-direction: column;
    background-color: #8d817f;
    padding: 20px;
    top: 4em;
    left: 0;
    z-index: 2;
    border-bottom: #6a615f 3px solid;
    border-right: #6a615f 2px solid;
    display: none;
    box-shadow: 6px 9px 15px -10px #000000;

    &.show {
      display: flex;
    }

    .item {
      padding: 10px;
      font-size: 1.2em;
      color: #c8bdbb;
      display: flex;
      align-items: center;
      white-space: nowrap;

      svg {
        margin-right: 10px;
      }
    }

    .divider {
      width: auto;
      margin: 20px 0;
      border-bottom: 1px solid;
    }

  }
}

.link {
  cursor: pointer;
  border-bottom: 3px solid transparent;
  padding: 1em;
  a {
    color: #fff;
    font-size: 1.4em;
    text-decoration: none;
  }

  &.selected {
    border-bottom: 3px solid #fff;
  }

}