
.button {
  border: 0.2em solid;
  cursor: pointer;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  height: 2.5em;

  .icon {
    margin-right: 0.5em;
  }

}

.primary {
  border-color: #6a615f;
  color:  #6a615f;
  background-color: transparent;
}

.secondary {
  background-color: #637049;
  border-color: transparent;
  color: white;
}