.header {
  display: flex;
  align-items: center;
  padding: 0 4em;
  position: relative;
  gap: 2em;

  @media (max-width: 768px) {
    padding: 0;
  }

  .caption {
    font-size: 26px;
    font-weight: normal;
  }

  .text {
  }
}