.container {
  display: flex;
  gap: 20px;

  @media (max-width: 768px) {
    margin-bottom: 1em;
    flex-direction: column;
    gap: 0;
  }

  .inputRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .label {
      margin-bottom: 4px;
    }

    .attendingDate {
      cursor: pointer;
    }
  }
}

.flex {
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.buttonContainer {
  margin-top: 1em;
}

.select {

}

.disabled {
  opacity: 0.3;
}