
.header {
  background-color: #7f8b8d;
  font-size: 26px;
  color: white;
  display: flex;
  padding: 1em;
  line-height: 100%;
  flex-direction: column;

  @media (max-width: 768px) {
    padding: 0.75em 0.5em;
    margin: 0 8px;
  }

}
.title {
  //border-right: 3px solid white;
  //padding-right: 3px;
  flex: 1;
}

.year {
  flex: 1;
  margin-top: 4px;
  font-size: 16px;
}

.container {
  background-color: #e7e3e2;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    padding: 1em;
    margin: 0 8px;
    height: auto;
    box-sizing: border-box;
  }
}

.content {
  display: grid;
  gap: 10px;
  padding: 0 4em;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.toastMasterContent {
  display: flex;
  max-height: 0;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.toastMasterImageWrapper {
  flex: 1;
  padding-left: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: end;

  @media (max-width: 768px) {
    margin-top: 1em;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }

  .phoneNr {
    color: #6a615f;
    font-size: 0.8em;
  }

  .toastMasterImage {
    width: 4em;
    height: 4em;
    background-size: contain;
    background-image: url('../../../images/philip.jpg');
    border-radius: 50%;
    border: 2px solid #6a615f;
  }
}