
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  margin-top: 40px;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }

  .guest {
    background-color: white;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 2px 1px 4px -3px #000000;
    box-shadow: 2px 1px 4px -3px #000000;
    border-radius: 4px;

    &:hover {
      .header {
        .removeButton {
          opacity: 1;
        }
      }
    }

    @media (max-width: 1200px) {
      margin-right: 0;
    }

    .header {
      display: flex;
      align-items: center;

      .guestIconWrapper {
        width: 3em;
        height: 3em;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 10px;
        background-color: #6a615f;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.5em;
      }

      .name {
        flex: 1;
        text-transform: capitalize;
        font-weight: bold;
      }

      .removeButton {
        opacity: 0;
        border: none;

        @media (max-width: 768px) {
          opacity: 1;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      padding: 1em;

      &.hidden {
        display: none;
      }

      .row {
        display: flex;
        align-items: center;
        margin-bottom: 1em;

        &:last-child {
          margin-bottom: 0;
        }

        .icon {
          width: 16px;
          margin-right: 0.5em;
        }

        .caption {
          margin-bottom: 0.5em;
        }
      }
    }

  }

  .addGuestContainer {
    .row {
      display: flex;
      padding: 1em;
    }

    .input {
      display: flex;
      flex-direction: column;
      margin-right: 0.5em;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}