.informationBox {
  border: #c8bdbb 1px solid;
  border-radius: 4px;

  .header {
    display: flex;
    align-items: center;
    padding: 1em 1em;
    cursor: pointer;
    box-sizing: border-box;

    .title {
      flex: 1;
      font-weight: bold;
      padding: 0 10px;
    }

    .icon {
      height: 1em;
      width: 1em;
      transition: all 0.3s ease-in-out;

      &.rotated {
        transform: rotate(180deg);
      }
    }
  }

  .content {
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.3s ease-in-out;

    &.expanded {
      max-height: 100%;
    }

    .textWrapper {
      display: flex;
      margin: 0 1em 1em;
      box-sizing: border-box;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .text {
        a {
          color: #6a615f;
        }
      }
    }
  }
}
